---
---

@import "{{ site.theme }}";

.container {
  max-width: 100%;
}

table {
  th {
    white-space: nowrap;
  }

  tbody tr > td {
    text-align: left;

    &:last-child {
      text-align: right;
    }
  }
}

td, p {
  code {
    background: rgba(0, 0, 0, .9);
    border: 1px solid rgba(255, 255, 255, .15);
    color: #d0d0d0;
    padding: 4px;
  }
}
