---
name: Validate PR

on:
  pull_request:
    paths:
      - 'participants/**/*.yml'

jobs:
  ValidateYAML:
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Validate YAML files
        uses: nwisbeta/validate-yaml-schema@v1.0

  ValidateLinks:
    runs-on: ubuntu-latest
    needs: [ValidateYAML]

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Set up Ruby 2.6
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6.x

      - id: file-diff
        uses: lots0logs/gh-action-get-changed-files@2.1.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Validate Links
        run: |
          FILELIST=""

          for FILENAME in $(jq '.[]' $HOME/files.json); do
            FILENAME="${FILENAME:1}"
            FILENAME="${FILENAME::-1}"

            if [ -f "$FILENAME" ] && [[ $FILENAME == *"participants"* ]] && [ "${FILENAME: -4}" == ".yml" ]; then
              FILELIST+="$FILENAME,"
            else
              echo "- Skipped $FILENAME"
            fi
          done

          if [ -n "$FILELIST" ]; then
            gem install awesome_bot
            awesome_bot --files "$FILELIST" --allow-dupe --allow-redirect --skip-save-results
          else
            echo "Nothing to do."
          fi
